.aside {
    grid-area: aside;
    background-color: #fff;
    min-height: 800px;
    box-shadow: 0 2px 8px #E9E9E9;
    border-radius: 10px;;
}

.user {
    display: flex;
    gap: 13px;
    min-height: 184px;
    box-sizing: border-box;
    position: relative;
    padding: 22px;
    color: #fff;
    background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), #2C2C2C;
    border-radius: 10px;
}

.user__avatar {
    position: relative;
    height: 70px;
    width: 70px;
    padding: 3px;
    box-shadow: 0 0 0 2px #C4C4C4;;
    border-radius: 50%;

}

.user__avatar_img {
    border-radius: 50%;
}

.user__avatar::after {
    content: "";
    position: absolute;
    display: block;
    background-image: url("./../images/avatar-border.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 5;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
}

.user__info {
}

.ratio {
    position: relative;
    width: min-content;
    margin-top: 6px;
}

.ratio__text {
    font-size: 30px;
    margin: 0;
}

.ratio__up {
    display: flex;
    align-items: center;
    position: absolute;
    top: -7px;
    left: calc(100% + 2px);
    padding: 1px 2px 1px 6.5px;
    background: #5A60E7;
    border-radius: 10px;
    font-size: 12px;
    line-height: 100%;
}

.ratio__up::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("./../images/ratio-up.svg");
    background-size: contain;
    background-position: center;
}

.user__name {
    font-size: 20px;
    font-weight: normal;
    line-height: 110%;
    margin: 11px 0 0;
}

.user__edit {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #ACAFF3;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    padding: 0;
}

.user__edit:before {
    content: "";
    display: inline-block;
    height: 14px;
    width: 14px;
    background-image: url("./../images/icon-edit.svg");
    background-size: contain;
    background-position: bottom;
    margin-right: 5px;
}

/* MENU */

.account__menu {
    list-style: none;
    padding: 0;
    max-width: 210px;
    margin: 50px 0 54px 20px;
}

.account__menu_item {
    position: relative;
    background-color: #fff;
    color: #222222;
    box-sizing: border-box;
    margin: 0 0 5px;
    line-height: 1.4;
}

.account__menu_item > span {
    padding: 4px 0;
    display: flex;
    align-items: center;
}

.account__menu_item img {
    /*position: absolute;*/
    width: 24px;
    height: 24px;
    top: 0;
    left: 10px;
    margin: 0 5px 0 10px;
}

.account__submenu {
    list-style: none;
    margin: 5px 0 -4px 20px;
    padding: 0;
    line-height: 1.4;
}

.account__submenu_item {
    background-color: #fff;
    color: #222222;
    margin: -2px 0 15px;

}

.account__submenu_item > span {
    padding: 5px 10px;

}

.item__active > span {
    display: flex;
    background: #EFEFFD;
    border-radius: 5px;
    color: #5A60E7;
}

.btn_account-exit {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 30px 0 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn_account-exit img {
    margin-right: 5px;
}

.user__social_mobile {
    display: none;
}

@media screen and (max-width: 1050px) {
    .aside {
        width: 100%;
        border-radius: 0;
        min-height: auto;
    }

    .aside nav {
        display: flex;
        align-items: baseline;
    }

    .user {
        border-radius: 0;
        padding: 22px 40px;
    }

    .user__edit {
        left: 40px;
    }

    .user__social_mobile {
        display: block;
        position: absolute;
        bottom: 17px;
        right: 40px;
    }

    .user__social_mobile > ul > li > img {
        height: 32px;
    }
    .item__active > span {
        padding: 4px 10px 4px 0;
    }
    .account__menu {
        display: flex;
        margin: 0;
        padding: 20px 0 20px 10px;
        max-width: 100%;
    }

    .account__menu_item > span {
        width: max-content;
    }

    .item__active > span {
        background-color: #5A60E7;
        color: #fff;
    }

    .btn_account-exit {
        margin: 0;
    }

    .account__submenu {
        position: absolute;
        top: 100%;
        left: 0;
        margin: 0;
        background-color: #fff;
        width: 100%;
        border-radius: 5px;
        z-index: 100;
    }

    .account__submenu .item__active > span {
        background: transparent;
        color: #222;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 400px) {
    .user__social_mobile {
        right: 0;
    }
}