.footer {
    grid-area: footer;
    padding: 50px 40px 16px;
    background: #222;
    color: #fff;
}

.footer__content {
    display: flex;
    border-bottom: 1px solid #D6D7F9;
}


/* LEFT CONTACTS */
.footer__left-contacts {
    display: flex;
    flex-direction: column;
    width: 460px;
}

.footer__left-contacts > a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.footer__left-contacts > a img {
    margin-right: 11px
}

.footer__logo svg {
    fill: #fff;
}

.footer__left__link_app {
    margin-top: 30px;
    display: flex;
    gap: 11px;
}

.link_app__wrapper {
    border-radius: 5px;
    background: linear-gradient(143.66deg, #6171ff -9.12%, rgba(90, 96, 231, 0) 40.43%),
    linear-gradient(120.87deg, rgba(97, 113, 255, 0) 70.49%, #6171ff 90.53%);
    padding: 1px;
    width: 135px;
}

.link_app__wrapper > a {
    display: block;
    padding: 4px 0 1px 8px;
    background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), #2C2C2C;
    border-radius: 5px;
}

.footer__left__title_contact {
    color: #ACAFF3;
    margin: 50px 0 20px;
}

.footer__left_tel {
}

.footer__left_email {
    margin: 10px 0 30px;
}


/* MENU */

.footer__menu {
    display: inline-block;
    flex-grow: 1;
    padding-right: 97px;
}

.footer__menu_lists {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__menu_list {
}

.menu_list-title {
    color: #ACAFF3;
    margin: 0 0 22px;
}

.lists__submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lists__submenu > li {
    margin-bottom: 11px;
}

.lists__submenu > li > a {
    color: #fff;
    text-decoration: none;
}

/* Contacts in bottom */
.footer__contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 11px;
}

.footer__copyright {
}

.footer__links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 4px 50px -4px 0;
}

.footer__links > li {
    height: 40px;
}

.footer-link {
    font-size: 0;
}

.footer__created {
}

@media screen and (max-width: 1000px) {
    .footer {
        padding: 20px 0;
    }

    .footer__content {
        justify-content: center;
        border: none;
    }

    .footer__menu {
        display: none;
    }

    .footer__left-contacts {
        align-items: center;
        width: auto;
    }

    .footer__left-contacts > a > img {
        display: none;
    }

    .footer__left__title_contact {
        display: none;
    }

    .footer__left_email {
        order: -5;
        margin: 0 0 10px;
    }

    .footer__left_tel {
        order: -4;
        margin: 0 0 20px;
    }

    .footer__links {
        display: none;
    }

    .footer__links_mobile {
        display: flex;
        order: -3;
        margin: 0 0 33px;
    }

    .footer__left__link_app {
        order: -2;
        margin: 0 0 37px;
    }

    .footer__logo {
        order: -1;
        margin: 0 0 20px;
    }

    .footer__contacts {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin: 0;
    }


}