.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    padding: 0 40px;
    background: #FAF9F9;
    box-shadow: 0 2px 4px #E9E9E9;
    z-index: 2;
}

.logo {
}

.logo__image {
}

.nav {
    min-width: 555px;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 50px;
}

.menu__item {
    cursor: pointer;
}

.menu_extra {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn__session {
    padding: 5px 5px 8px 10px;
    box-sizing: border-box;
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    text-align: left;
    cursor: pointer;
}

.btn__ball {
    display: inline-block;
    background-image: url("./../images/ball.svg");
    background-repeat: no-repeat;
    background-position: left;
    width: 24px;
    height: 24px;
}

.btn__session .arrow {
    display: inline-block;
    background-image: url("./../images/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right;
    width: 21px;
    height: 24px;
}


.header__avatar {
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    margin: -7px 61px 0 93px;
    padding: 2px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #5A60E7;
    cursor: pointer;
}

.btn__bag {
    position: relative;
    border: none;
    background-image: url("./../images/bag.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 40px;
    height: 40px;
    background-size: 22px;
    margin-top: -7px;
    cursor: pointer;
}

.btn__bag .counter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 4px;
    right: 4px;
    color: #fff;
    background-color: #86E3CE;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}
